# 3 NumPy and Pandas

## Introduction

After getting used to how Python works, it is the moment to begin getting our hands dirty with data analysis. We will study two packages: [NumPy](http://www.numpy.org/) is the fundamental **numeric computing and linear algebra** package in Python, that allows for decent data analysis. We will learn it not only for the data analysis, but more importantly because it will be a package that will be always present in our `import` section as scientists. After NumPy we will go to [Pandas](http://pandas.pydata.org/). Pandas is a dedicated data analysis package with a lot more functionalities than NumPy, making our life much easier in terms of **data visualization and manipulation**.

As usual, we begin importing the necessary packages

In [ ]:
import numpy as np
print('NumPy:', np.__version__)

## Numeric Python (NumPy)

NumPy is an open-source add-on module to Python that provides common mathematical and numerical routines in pre-compiled, fast functions. These are growing into highly mature packages that provide functionality that meets, or perhaps exceeds, that
associated with common commercial software like MATLAB. The [NumPy](http://www.numpy.org/) (Numeric Python) package provides basic routines for manipulating large arrays and matrices of numeric data. The main object NumPy works with is a **homogeneous multidimensional array**. Despite its intimidating name, these are nothing but tables of numbers, each labelled by a tuple of indices.

We will now explore some capabilities of NumPy that will prove very useful not only for data analyisis, but throughout all our life with Python.

### Creating Arrays

As mentioned before, the main object in NumPy is the *array*. Creating one is as easy as calling the command `array`

In [ ]:
# Create a list
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Create a numpy array from a list
my1darr = np.array(mylist)

# Data type of a numpy array
print(type(my1darr))

# Check content of myldarr object
my1darr

The same applies to multidimensional arrays

In [ ]:
# Create a numpy array with three elemets, with three elements each.
my2darr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
my2darr

In [ ]:
# Create a numpy array with three elemets, with three elements each, with a single element each
my3darr = np.array([  [ [1], [2], [3] ], [ [4], [5], [6] ], [ [7], [8], [9] ]  ])
my3darr

A NumPy array has a number of dimensions (or *axes*). To obtain the number of axes and the size of each of them you use the command `shape`. For 2-dimensional arrays (matrices), the order corresponds to (rows, columns)

There are two different ways of calling the `shape` command, either with `np.shape(arr)` (function-like) or `arr.shape` (method-like). This is not the only command that works in both formats, and we will be finding some more in our way.

In [ ]:
# Shape using `.shape`
print(my1darr.shape)
print(my2darr.shape)
print(my3darr.shape)

# Shape using `np.shape()`
print(np.shape(my1darr))
print(np.shape(my2darr))
print(np.shape(my3darr))

There is one restriction with respect to the use of lists: while you could create lists with data of different type, all the data in an array has to be of the **same type**, and it will be converted automatically.

In [ ]:
# Create a list with floats and strings
lst = [1., 'cat']
print(lst[0]) # Access the first element of the list

# Create a numpy array from a list with mixed data types
arr = np.array(lst)
print(arr[0]) # Access the first element of the array

# The data type of the 1. in the list is the same data type than the 1. in the array?
print(type(lst[0]) == type(arr[0]))
print(type(lst[0]))
print(type(arr[0]))

(We will go deeper into indexing in a while)

### Playing with special Arrays

Now we review some built-in functions that create matrices commonly used. `ones` and `zeros` return arrays of given shape and [type](https://docs.scipy.org/doc/numpy-1.13.0/user/basics.types.html) (default is float64), filled with ones or zeros, respectively.

In [ ]:
# Create a zero-filled numpy array of shape 3 x 2
np.zeros((3, 2))

In [ ]:
# Create a one-filled numpy array of shape 3 x 2 x 4
np.ones((3, 2, 4), dtype=np.int8)

`eye(d)` returns a 2-D, dimension-$d$ array with ones on the diagonal and zeros elsewhere.

In [ ]:
# Create an numpy array of shape 3 x 3 with ones in the diagonal
eye_array1 = np.eye(3)
print(eye_array1)
print('\n')

# Create an numpy array of shape 3 x 3 with ones in the diagonal
eye_array2 = np.eye(5, 3)
print(eye_array2)

`eye` can also create arrays with ones in upper and lower diagonals. To achieve this, you must call `eye(d, d, k)` where $k$ denotes the diagonal (positive for above the center diagonal, negative for below), or `eye(d, k=num)`

In [ ]:
# Create an numpy array of shape 5 x 5 with ones in the diagonal shifted-up 2 positions
print(np.eye(5, 5, 2))
print('\n')

# Create an numpy array of shape 4 x 4 with ones in the diagonal shifted-down 1 position
print(np.eye(4, k=-1))

`diag`, depending on the input, either constructs a diagonal array (if the input is a 1-D array) or extracts a diagonal from a matrix (if the input is a 2-D array).

In [ ]:
# Create a 2-D array with the array `my1darr` shifted-up 1 position with respect the diagonal 
print(my1darr)
np.diag(my1darr, 1)

In [ ]:
# The the diagonal from the 2-D array `my2darr`
print(my2darr)
np.diag(my2darr)

In [ ]:
# Create a 2-D array with the diagonal from the 2-D array `my2darr` shifted-down 1 position with respect the diagonal 
np.diag(np.diag(my2darr), k=-1)

`arange(begin, end, step)` returns evenly spaced values within a given interval. Note that the beginning point is included, but not the ending.

In [ ]:
# Create range with start at 0, stop before 16, counting up by 2
myrange = np.arange(0, 16, 2)
myrange

**Exercise 1**: Create an array of the first million of odd numbers, both with `arange` and using loops. Try timing both methods to see which one is faster. For that, use `%timeit`. This example shows how important is the use of different functions or strategies in terms of computing efficiency.

In [ ]:
%timeit np.arange(0, 2000000, 2)

%timeit [i for i in range(2000000) if i % 2 == 0]

Similarly, `linspace(begin, end, points)` returns evenly spaced numbers over a specified interval. It follows the same logic as the arange function but Here, instead of specifying the step, you specify the amount of points you want. Also with `linspace` you include the ending of the interval.

In [ ]:
# Create line with start at 0, stop at 14, getting 7 evenly spaced points
myline = np.linspace(0, 14, 8) 
print(myline)

myline = np.linspace(0, 14, 9) 
print(myline)

In [ ]:
# Print the length of `myrange` and `myline`
print(len(myrange))
print(len(myline))

`reshape` changes the shape of an array, but not its data. It basically reorganizes the content of the input array into the dimensions we provide. This is another of the commands that can be called before or after the array.

In [ ]:
# Reshape `myrange` using `np.reshape()`
print(myrange)
print('\n')

print(np.reshape(myrange, (2, 4))) ## Reorganize in two dimensions, 2 elements in axis 0 and 4 in axis 1
print('\n')

print(np.reshape(myrange, (4, 2))) ## Reorganize in two dimensions, 4 elements in axis 0 and 2 in axis 1
print('\n')

# Reshape `myrange` using `.reshape()`
print(myrange.reshape(2, 4))
print('\n')

print(myrange.reshape(4, 2))

Note however that, in order for these changes to be permanent, you should do a reassignment of the variable

In [ ]:
# After the reshapings above, the original array stays being the same
myrange

In [ ]:
mynewrange = myrange.reshape(2, 4)
# Now that we have reassigned it is when it definitely changes shape
mynewrange

In [ ]:
# Here we are trying to organize the elements in more dimensions that we can
mynewrange = myrange.reshape(2, 4, 1, 2)
mynewrange

### Combining Arrays

The most general command for combining arrays is `concatenate(arrs, d)`. It takes a list of arrays and concatenates them along axis $d$. Remember your 3-D array:

In [ ]:
# Remember the `my3darr` 3-D numpy array
print(my3darr)
print('\n')

print(my3darr.shape) ## remember that shape returns the dimensions of the array

In [ ]:
# Concatenate `my3darr` with itsef multiplied by 10 along dimension 0
print(my3darr)
print('-'*10)

conc_along0 = np.concatenate([my3darr, 10 * my3darr])
print(conc_along0)
print(conc_along0.shape)

In [ ]:
# Concatenate `my3darr` with itsef multiplied by 10 along dimension 1
conc_along1 = np.concatenate([my3darr, 10 * my3darr], 1)
print(conc_along1)
print(conc_along1.shape)

In [ ]:
# Concatenate `my3darr` with itsef multiplied by 10 along dimension 2
conc_along2 = np.concatenate([my3darr, 10 * my3darr], 2)
print(conc_along2)
print(conc_along2.shape)

In [ ]:
# Here we are trying to concatenate two arrays in dimensions that don't exist (out of bounds)
conc_along2 = np.concatenate([my3darr, 10 * my3darr], 3)
print(conc_along2)
print(conc_along2.shape)

However, for common combinations there exist special commands. Use `vstack` to stack arrays in sequence vertically (row wise), `hstack` to stack arrays in sequence horizontally (column wise).

In [ ]:
# Remember the `my1darr` 1-D numpy array from above
print(my1darr)
print(my1darr.shape)

In [ ]:
# Stack `my1darr` vertically and horizontally
print(np.vstack([my1darr, 10 * my1darr]))
print('\n')
print(np.hstack([my1darr, 10 * my1darr]))

In [ ]:
# Remember the `my2darr` 2-D numpy array from above
print(my2darr)
print(my2darr.shape)

In [ ]:
# Stack `my2darr` vertically and horizontally
print(np.vstack([my2darr, 10 * my2darr]))
print('\n')
print(np.hstack([my2darr, 10 * my2darr]))

### Operations

You can perform easily element-wise operations on arrays of any shape. Use the typical symbols, +, -, \*, / and \*\* to perform element-wise addition, subtraction, multiplication, division and power.

In [ ]:
x = np.array([1, 2, 3])
print(x)
print(x + 10)
print(3 * x)
print(1 / x)
print(x ** (-2 / 3))
print(2 ** x)

Also (and obviously) these symbols can be used to operate between two arrays, which must be of the same shape. If this is the case, they also do element-wise operations

In [ ]:
y = np.arange(4, 7, 1)
print(x + y)     # [1+4, 2+5, 3+6]
print(x * y)     # [1*4, 2*5, 3*6]
print(x / y)     # [1/4, 2/5, 3/6]
print(x ** y)    # [1**4, 2**5, 3**6]

For doing vector or matrix multiplication, the command to be used is `dot`

In [ ]:
print(x)
print(y)
x.dot(y)  # 1*4 + 2*5 + 3*6

With python 3.5 matrix multiplication got it's own operator

In [ ]:
print(x)
print(y)
x @ y  # 1*4 + 2*5 + 3*6

In [ ]:
X = np.array([[i + j for i in range(3, 6)] for j in range(3)])
Y = np.diag([1, 1], 1) + np.diag([1], -2)

print(X)
print('\n')
print(Y)

The operator `*` returns the elements-wise multiplication of arrays with the same shape.

In [ ]:
X * Y

The operator `@` returns the product of arrays of compatible shapes.

In [ ]:
X @ Y

#### Transposing

Transposition is a very important operation for linear algebra. Although NumPy is capable of correctly doing matrix-vector products correctly **regardless of the orientation of the vector**, it is not the case for products of matrices

In [ ]:
Z = np.arange(0, 12, 1).reshape((4, 3))

In this example we see that the product of a matrix and a vector yields the same result not matter if we transponse the vector (use .T method) or not. Python knows how to multiple a matrix with a vector.

In [ ]:
print(Z)
print('\n')
print(y)
Z @ y

In [ ]:
print(Z)
print('\n')
print(y.T)
Z @ y.T

In this other example, however, when we transpose the Z matrix, it yields to an error due to the incompatibility of the matrix dimensions.

In [ ]:
print(Z)
print('\n')
print(X)
Z @ X  # (4 rows and 3 cols) @ (3 rows and 3 cols) yields (4 rows and 3 cols)

In [ ]:
print(Z.T)
print('\n')
print(X)
Z.T @ X  # (3 rows and 4 cols) @ (3 rows and 3 cols) yields error

#### Array Methods

To not have to go from NumPy arrays to lists back and forth, NumPy contains some functions to know properties of your arrays. Actually, there are more of these functions than in standard Python.

In [ ]:
a = np.array([-4, -2, 1, 3, 5])
print(a.max())
print(a.min())
print(a.sum())
print(a.mean())
print(a.std())

Some interesting functions are `argmax` and `argmin`, which return the index of the maximum and minimum values in the array.

In [ ]:
print(a.argmax())
print(a.argmin())

### Indexing/Slicing

We have already seen briefly that to access individual elements you use the bracket notation: `array[ax_0, ax_1, ...]`, where the `ax_i` denotes the coordinate in the `i`-th axis. You can even use this to assign new values to your elements.

In [ ]:
r = np.array([4, 5, 6, 7])
print(r[2])
r[0] = 198 # Reassigning the value stored in index 0
r

To select a range of rows or columns you can use a colon `:`. A second `:` can be used to indicate the step size. `array[start:stop:stepsize]`. If you leave `start` (`stop`) blank, the selection will go from the very beginning (until the very end) of the array

In [ ]:
s = np.arange(13)**2
print(s)

# Starting by index 2, until index 10, pick each element. Remember that the last index of the range is not considered
print(s[2:10])

# Starting by index 2, until index 10, pick every 3 elements 
print(s[2:10:3])

# Starting by index -5, until the end, pick every 2 elements
print(s[-5::2])

# Starting by index -5, until the end, pick every 2 elements backwards
print(s[-5::-2])

The same applies to matrices or higher-dimensional arrays

In [ ]:
r = np.arange(36).reshape((6, 6))
r

In [ ]:
# Pick rows 2 to 5, and cols 1 to 3 (remember, row 5 and col 3 not included)
r[2:5, 1:3]

You can also select specific rows and columns, separated by commas

In [ ]:
# Pick rows 1, 3 and 4, and cols 1 to 3 (remember, col 3 not included)
r[[1, 3, 4], 1:3] # Instaed of a range, we use a list of indexes.

A very useful tool is *conditional indexing*, where we apply a function, assignment... only to those elements of an array that satisfy some condition

In [ ]:
r[r > 30] = 30
r

We have seen that there are libraries that make use of random generators (e. randint). NumPy also presents random generators that we can apply to create random arrays.

In [ ]:
Z = np.random.uniform(0,1,100)
print(Z)

#### **Exercise:** Let's look for the number within a random array that is closest to 0.7.

In [ ]:
Z = np.random.uniform(0,1,100) # Generate random array
print(Z) # Print random array
print('\n')

z = 0.7
print(np.abs(Z - z)) # Substract z to every element in array and get absolute value
print(np.abs(Z - z).argmin()) # Extract the index of the smallest previous element.
print('\n')

m = Z[np.abs(Z - z).argmin()]
print(m)

#### Copying Data

**Be very careful with copying and modifying arrays in NumPy!** You will see the reason right now. Let's begin defining `r2` as a slice of r

In [ ]:
r2 = r[:3,:3]
r2

And now let's set all its elements to zero

In [ ]:
r2[:] = 0
r2

When looking at `r`, we see that it has also been changed!

In [ ]:
r

The proper way of handling selections without modifying the original arrays is through the `copy` command.

In [ ]:
r_copy = r.copy()
r_copy

Now we can safely modify `r_copy` without affecting `r`.

In [ ]:
r_copy[:] = 10
r

### Iterating Over Arrays

Finally, you can iterate over arrays in the same way as you iterate over lists

In [ ]:
test = np.random.randint(0, 10, (4,3)) # Here we use the function random.randint from numpy args: (lowest, highest, size)
test

You can iterate by row:

In [ ]:
for row in test:
    print(row)

Or by row index

In [ ]:
for i in range(len(test)):
    print(test[i])

Or by row and index:

In [ ]:
for i, row in enumerate(test):
    print("Row "+ str(i) + " is " + str(row))

In the same way as with lists, you can use `zip` to iterate over multiple iterables (an iterable is an object that is susceptible of being iterated, which means that we are able to go through all their elements). We can normally iterate over a matrix, but `zip` allows us to use different iterable objects.

In [ ]:
test2 = test**2
test2

In [ ]:
for i, j in zip(test, test2):
    print(str(i) + " + " + str(j) + " = " + str(i+j))

#### **Exercise**: Create a function that iterates over the columns of a 2-dimensional array

In [ ]:
print(test)
print('\n')

def iterate(df):
    transp_m = df.T
    for i, row in enumerate(transp_m):
        print(f'Column {i} is {row}')

iterate(test)

### Loading and Saving Data

To load and save data NumPy has the `loadtxt` and `savetxt` commands. However, they only work for two-dimensional arrays

In [ ]:
np.savetxt('numpytest.txt', test) # savetxt function takes as input the file path (arg1) and the array (arg2) 
np.loadtxt('numpytest.txt') # We load the array from the same file we created before

## Pandas

When dealing with numeric matrices and vectors in Python, NumPy makes life a lot easier. For more complex data, however, it leaves a bit to be desired. For those used to working with dedicated languages like R, doing data analysis directly with numpy feels like a step back. Fortunately, some nice folks have written the Python Data Analysis Library (a.k.a. [Pandas](http://pandas.pydata.org/)). Pandas provides an R-like DataFrame, produces high quality plots with matplotlib, and integrates nicely with other libraries that expect NumPy arrays.

Pandas works with `Series` of data, that then are arranged in `DataFrame`s. A dataframe will be the object closest to an Excel spreadsheet that you will see throughout the course (but of course, given that it is integrated in Python and can be combined with so many different packages, dataframes are much more powerful than Excel spreadsheets). The data in the series can be either qualitative or quantitative data.

In [ ]:
import pandas as pd
print('Pandas:', pd.__version__)

In [ ]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

In [ ]:
numbers = [1, 2, 3]
pd.Series(numbers)

Notice that the series is indexed by default by integers. You can change this indexing by using a dictionary instead of a list for creating the series.

In [239]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)

                     A
Archery         Bhutan
Golf          Scotland
Sumo             Japan
Taekwondo  South Korea

On the other hand, `DataFrame`s can be built from two-dimensional arrays, with the ability of labelling columns and indexing the rows

In [247]:
# Sampling a 1000 rows 6 cols 2D array from the standard normal distribution and creating DataFrame
u = pd.DataFrame(np.random.randn(1000, 6),
                 index=np.arange(0, 3000, 3),
                 columns=['A', 'B', 'C', 'D', 'E', 'F'])
u

             A         B         C         D         E         F
0    -0.363256  0.339745 -1.040141  0.473308  1.257468  0.295634
3    -0.682342  0.093756 -0.819400  1.119011  1.382896 -1.027795
6    -0.244504 -1.240499 -0.536483  0.052073  0.812415  0.331586
9    -0.287894  2.580643  1.173234  1.534309 -1.606205 -1.117401
12   -2.328365 -0.153029  1.401307  0.648211  0.687173 -0.138672
15   -0.563754  1.376259 -1.868085  2.047790 -0.296535  0.036689
18   -0.674963  0.543596  0.211669 -0.206690  0.511711  0.720892
...        ...       ...       ...       ...       ...       ...
2979 -0.993116 -0.273748  0.586987 -0.707411  0.248850  1.965206
2982 -0.541029 -2.178174  0.136481 -0.275215  0.401187  0.576615
2985  0.464264 -1.848087  1.857874  0.690254  0.587027 -0.179951
2988 -1.000279  2.375662  1.937270  1.464947  1.054785 -1.661991
2991 -0.052490 -0.804949  0.234814 -1.268911  0.731720  1.081749
2994  1.386799  0.423755 -0.906855  0.562781  0.196990 -1.176977
2997 -1.517187  0.879693 -2.203324  0.367277 -0.407717 -0.554336

[1000 rows x 6 columns]

In [248]:
# Also we can take the previous Series and convert them into a dataframe
pd.DataFrame(s)

                     0
Archery         Bhutan
Golf          Scotland
Sumo             Japan
Taekwondo  South Korea

As you might have noticed, it is a bit ugly to deal with large dataframes. There are however some functions that allows to have an idea of the data in a frame.

In [ ]:
u.head()

In [ ]:
u.tail()

In [ ]:
u.info()

The *describe* function provides basic summary statistic per-column in the dataframe.

In [ ]:
u.describe()

One can also change the maximal number of rows that is displayed:

In [242]:
pd.set_option('display.max_rows', 15)

u

             A         B         C         D         E         F
0     0.337512  1.714605  1.825014  0.720063  1.900813  0.877806
3     1.727266  0.195382  0.144493 -0.665058 -0.182716  0.105446
6     1.646908 -1.637005  0.777804  0.260352 -0.280833 -0.895038
9    -0.190350  0.342524  0.388537 -0.061977 -0.070645  0.755031
12    0.554525 -0.498852 -1.935309  0.377851 -0.252623  0.188583
15    0.240587  0.946223 -0.932558 -1.074315 -0.204660  2.365490
18    0.664442 -1.667027 -1.696826  0.736909  0.012290  0.077055
...        ...       ...       ...       ...       ...       ...
2979 -1.583739  1.258677  0.325285  0.037308  0.897363 -1.998053
2982 -0.357034 -1.077106  0.892440 -0.436726  1.124905  2.568029
2985  0.157887 -0.229235 -2.285232 -0.021075  0.608841  0.242799
2988  1.819661 -1.660802 -0.967866  1.156527 -0.463305  0.867687
2991  0.347157  0.395027 -1.750404  0.878930 -0.378409 -0.715672
2994 -0.475968 -1.416001 -1.347614  1.528479  0.866278  0.718414
2997  0.145363  0.467268  1.780897 -0.362536  0.008171  1.760756

[1000 rows x 6 columns]

### Indexing/Slicing in Pandas

The easiest way of accessing information in a Pandas dataframe, equivalent to the way used in NumPy, is using the `iloc` command, which relys on the **number indexes** of rows and columns. With this you can also set specific values, do conditional indexing... all that we have seen before in section 2.4

In [ ]:
# Slice-in rows index 125 to 132 (132 included!) from columns index 0, 2 and 5
u.iloc[125:132, [0, 2, 5]]

You can also choose specific rows according to their **index names** with the `loc` command

In [ ]:
# Slice-in rows 375 to 393 (393 included!) from columns A, C and F
u.loc[375:393, ['A', 'C', 'F']]

The usual `[]` will select specific rows according to the row index

In [ ]:
# Slice-in rows index 125 to 132 (132 included!) from columns A, C and F
u[125:132][['A', 'C', 'F']]

However, there are a few different ways of accessing the data in a Pandas dataframe, that typically have a more "direct" connection with the actual content fo the dataframe. Individual or sets of columns can also be accessed by their column names. Choosing one single column will give a Series, while two or more will produce a DataFrame

In [ ]:
u['A'].head()

In [ ]:
u[['A', 'D']].head()

Not only that, you can access a single column without the need of brackets []

In [ ]:
u.A.head()

Or, you can access just the elements that satisfy some condition

In [ ]:
u[u.D > 2]

In [ ]:
u[~(u.D > 2)]  # For the inverse of u.D > 2

Recently `query` has been added to `DataFrame` for the same purpose. While it is less powerful than logical indexing, it is often faster and shorter (when names are longer than just `u`):

In [ ]:
u.query('D > 2')

### Reshaping `DataFrame`s

We can create a Pandas dataframe from scratch by adding new columns each time. This is useful when we have a function that iterates through a series of data and we have to append columns each time we go through the iteration.

In [217]:
df1 = pd.DataFrame() # First we create an empty dataframe

df1['sample'] = ['A', 'A', 'A', 'B', 'B', 'B']
df1['replicate'] = ['01', '02', '03', '01', '02', '03']
df1['protein'] = 'P02768' # If we provide a single value in a column of a dataframe of higher dimensions, this is repeted.
df1['value1'] = np.random.randn(6)

df1

  sample replicate protein    value1
0      A        01  P02768  0.969911
1      A        02  P02768 -0.191316
2      A        03  P02768  0.836558
3      B        01  P02768  1.549192
4      B        02  P02768 -0.807761
5      B        03  P02768 -0.946390

An interesting function of Pandas is *pivot*, which allows us to create a derived dataframe that uses values of the columns from the original dataframe as indexes (rows) and columns of the new dataframe, and finally fill it with the values of another column.

In [218]:
pivot_df1 = df1.pivot(index='replicate', columns='sample', values='value1')

pivot_df1.head()

sample            A         B
replicate
01         0.969911  1.549192
02        -0.191316 -0.807761
03         0.836558 -0.946390

### Computing With `DataFrames`

You can calculate with `DataFrames` or their columns (which are `Series`) the same way you could with `arrays`s

In [219]:
df1['value2'] = 1 / df1['value1'] # In this way we replace the column "value2" with modified values.
df1.head()

  sample replicate protein    value1    value2
0      A        01  P02768  0.969911  1.031023
1      A        02  P02768 -0.191316 -5.226952
2      A        03  P02768  0.836558  1.195375
3      B        01  P02768  1.549192  0.645498
4      B        02  P02768 -0.807761 -1.237990

In [222]:
np.mean(df1) # We obtain the values of a certain function applied on a dataframe by their columns (Series)

value1    0.235032
value2   -0.774949
dtype: float64

You can apply functions to the whole dataset or specific columns with the `apply` command. `apply` acts on the whole column at a time (i.e. a Pandas `Series`), so you can compute things that depend on several values of the column, for instance the mean value. To apply functions in a real element-by-element basis the function `applymap` or `Series.apply` should be used.

In [229]:
def mn(col):
    return sum(col) / len(col)

df1[['value1']].apply(mn)

  sample replicate protein    value1    value2
0      A        01  P02768  0.969911  1.031023
1      A        02  P02768 -0.191316 -5.226952
2      A        03  P02768  0.836558  1.195375
3      B        01  P02768  1.549192  0.645498
4      B        02  P02768 -0.807761 -1.237990
5      B        03  P02768 -0.946390 -1.056647

What happens when we try to apply a mathematical operation (mn function) to the whole dataframe?.

In [232]:
df1.apply(mn) # We are trying to get the mean value of string-based columns!!

TypeError: ("unsupported operand type(s) for +: 'int' and 'str'", 'occurred at index sample')

While most can be directly calculated (including the given example of the mean), `apply` also works on columns with strings or categorical data, where no mathematical operations are defined. The limit is the imagination.

### Combining `DataFrames`

Something we will do quite often as scientists is combining data from different sources into one single source. This can be achieved by different commands in Pandas, depending on the actual goal we want.

To begin with, appending new rows of data is achieved by the command `append`.

In [249]:
df2 = pd.DataFrame()

df2['sample'] = ['A', 'A', 'A', 'B', 'B', 'B']
df2['replicate'] = ['01', '02', '03', '01', '02', '03']
df2['protein'] = 'P69892'
df2['value1'] = np.random.randn(6)
df2['value2'] = 1 / df2['value1']

df2

  sample replicate protein    value1    value2
0      A        01  P69892 -1.312613 -0.761839
1      A        02  P69892 -1.503666 -0.665041
2      A        03  P69892  0.291092  3.435336
3      B        01  P69892 -1.945512 -0.514003
4      B        02  P69892  1.214834  0.823158
5      B        03  P69892  0.228086  4.384302

In [250]:
df1.append(df2, ignore_index=True)

   sample replicate protein    value1    value2
0       A        01  P02768  0.969911  1.031023
1       A        02  P02768 -0.191316 -5.226952
2       A        03  P02768  0.836558  1.195375
3       B        01  P02768  1.549192  0.645498
4       B        02  P02768 -0.807761 -1.237990
5       B        03  P02768 -0.946390 -1.056647
6       A        01  P69892 -1.312613 -0.761839
7       A        02  P69892 -1.503666 -0.665041
8       A        03  P69892  0.291092  3.435336
9       B        01  P69892 -1.945512 -0.514003
10      B        02  P69892  1.214834  0.823158
11      B        03  P69892  0.228086  4.384302

The same result can be obtained with `concat`.

In [ ]:
df = pd.concat([df1, df2], ignore_index=True)

df

### Grouping Data

In [ ]:
df.groupby('protein').agg(sum)

In [ ]:
df.groupby(['protein', 'sample']).agg(sum)

In [ ]:
df.groupby(['protein', 'sample', 'replicate']).agg(sum)

In [ ]:
df.groupby('protein').transform(np.mean)

In [ ]:
df.groupby('protein')['value1', 'value2'].transform(np.mean)

In [ ]:
for g, g_df in df.groupby(['protein', 'sample']):
    print(g_df)
    print(f"{g} --> mean value1: {np.mean(g_df['value1'])}")
    print(f"      mean value2: {np.mean(g_df['value2'])}\n")

In [ ]:
df.groupby(['protein', 'sample']).describe()

In [ ]:
df.pivot_table(index='protein',
               columns='sample', 
               aggfunc='mean')

In [ ]:
df.pivot_table(index='protein',
               columns='sample',
               aggfunc={'value1': min,
                        'value2': max})

### Loading and saving dataframes

To load and save Pandas dataframes we will use the `to_csv` and `read_csv` commands

In [ ]:
df.to_csv('test.csv')
pd.read_csv('test.csv', index_col=0)

But, as an addition, Pandas has special commands to load and save Excel spreadsheets (yay!). However, to use it you'll need the `openpyxl` and `xlrd` packages.

In [ ]:
df.to_excel('test.xlsx', sheet_name='My sheet')
pd.read_excel('test.xlsx', 'My sheet', index_col=0)